@import "bases";
@import "classes";
@import "utils";
@import "media-queries";

.tot-container {
  min-height: 100vh;
}

button {
  @extend %bouton;
  background-color: white;
  color: var(--primary);
}
input {
  padding: 0.5rem;
}
.intro {
  margin: 2rem;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

.launch-container {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  .btn-container {
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    margin: 2rem;
    button {
      @extend %bouton;
      background-color: var(--primary);
      color: white;
      &:hover {
        background-color: var(--light);
        color: var(--primary);
      }
    }
  }
}

.inscriptions-container {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: white;
  pre {
    background: var(--darklight);
    border: 0.1rem solid var(--text);
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem var(--text);
    text-align: left;
    padding: 2rem;
    margin: 0 5% 3rem 5%;
  }
  p {
    background: var(--darklight);
    margin: 0 35% 3rem 35%;
    border: 0.1rem solid var(--text);
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem var(--text);
    text-align: left;
    padding: 2rem;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background: var(--primary);
    color: white;
    h2 {
      text-align: left;
      margin: 0;
      margin-left: 4rem;
    }
    form {
      display: flex;
      flex: row;
      flex-wrap: wrap;
      justify-content: center;
      overflow-x: auto;
      margin: 0;
      .inputs-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem;
        label {
          margin: 1rem;
          flex: 0 1 auto;
        }
        input {
          margin: 1rem;
          height: 3rem;
          border: 0.1rem solid var(--text);
          border-radius: 0.5rem;
          box-shadow: 0 0 1rem var(--text);
          background: var(--light);
          color: var(--text);
          flex: 0 1 auto;
        }
      }
      button {
        @extend %bouton;
        background-color: white;
        color: var(--primary);
      }
    }
    .inscription-patient-container {
      padding: 1rem 4rem;
    }
    .inscription-pharmacien-container {
      padding: 0 4rem;
    }
    .inscription-medecin-container {
      padding: 0 4rem 2rem 4rem;
    }
  }
}

.connexion-patient {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pre {
    background: var(--light);
    color: var(--text);
    padding: 1rem;
    border: 0.1rem solid var(--text);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--text);
    margin: 1rem;
  }
  button:hover {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin: 1rem;
      height: 4rem;
      border: 0.1rem solid var(--text);
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem var(--text);
      background: var(--light);
      color: var(--text);
      flex: 0 1 auto;
    }
  }
  .modif-container {
    background: white;
    // width: 100%;
    margin: 0;
    padding-bottom: 2rem;
  }
  .patient-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    p {
      margin: 2rem;
      text-align: justify;
    }
    .info-med-container {
      display: flex;
      background: var(--primary);
      h3 {
        color: white;
      }
      flex-direction: column;
      align-items: center;
      width: 100%;
      .info-med-debut {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      button:hover {
        background-color: var(--light);
        color: var(--primary);
        border-color: var(--primary);
      }
      .output-text {
        width: 95%;
      }
    }
  }
}
.request-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  border: 0.1rem solid var(--text);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--text);
  justify-content: center;
  align-items: center;
  .request {
    margin: 1rem;
    flex: 0 1 auto;
    border: 0.1rem solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
    p {
      text-align: center;
    }
    button {
      @extend %bouton;
      background-color: var(--primary);
      color: white;
      &:hover {
        background-color: white;
        color: var(--primary);
        border-color: var(--primary);
      }
    }
    form {
      input {
        margin: 1rem;
        height: 3rem;
        border: 0.1rem solid var(--text);
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem var(--text);
        background: var(--light);
        color: var(--text);
        flex: 0 1 auto;
      }
      button {
        padding: 1rem;
        width: auto;
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
}
.prendtaclasse {
  padding: 1rem;
  width: auto;
  font-size: 1.8rem;
  text-align: center;
}

.output {
  h2 {
    text-decoration: underline;
    text-align: center;
  }
  margin: 2rem;
  text-align: justify;
}

.output-text {
  margin: 2rem;
  padding: 2rem;
  border: 0.1rem solid var(--text);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--text);
  background: var(--light);
  color: var(--text);
}

header {
  display: flex;
  justify-content: center;
  background: var(--primary);
  color: white;
  padding: 0rem;
  h1 {
    margin-right: 3rem;
  }
  button {
    @extend %bouton;
    flex: end;
    grid-area: "btn";
    background: white;
    color: var(--primary);
  }
}

footer {
  display: flex;
  justify-content: center;
  background: var(--primary);
  color: white;
  padding: 2rem;
}
