<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4dfcd43aac.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/variable.css" />
    <title>INFO-H303 | Queries</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="../request.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#r1").click(function () {
          $.get("/get-string1", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r2").click(function () {
          $.get("/get-string2", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r3").click(function () {
          $.get("/get-string3", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r4").click(function () {
          $.get("/get-string4", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r5").click(function () {
          $.get("/get-string5", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r6").click(function () {
          $.get("/get-string6", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r7").click(function () {
          $.get("/get-string7", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r8").click(function () {
          $.get("/get-string8", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r9").click(function () {
          $.get("/get-string9", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r10").click(function () {
          $.get("/get-string10", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#creer").click(function () {
          $.get("/creer", function (data) {
            $("#init-txt").html(data);
          });
        });
        $("#init").click(function () {
          $.get("/init", function (data) {
            $("#init-txt").html(data);
          });
        });
        $("#envoyerPat").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Patient dans la base de données!"
          );
        });
        $("#envoyerPhar").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Pharmacien dans la base de données!"
          );
        });
        $("#envoyerMed").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Médecin dans la base de données!"
          );
        });
      });
    </script>
    <script>
      function toggleForm() {
        var ajoutForms = document.getElementById("inscriptions-container");
        var btnshowForm = document.getElementById("btnshowForm");
        if (ajoutForms.style.display === "none") {
          ajoutForms.style.display = "flex";
          btnshowForm.innerHTML = "Cacher menu Ajout";
        } else {
          ajoutForms.style.display = "none";
          btnshowForm.innerHTML = "Montrer menu Ajout";
        }
      }
    </script>
    <div class="tot-container">
      <header>
        <h1>INFO-H303 - Groupe 12</h1>
        <button id="btnshowForm" onclick="toggleForm()">
          Montrer menu Ajout
        </button>
      </header>
      <div class="container">
        <div class="intro">
          <p>
            Bienvenue dans l'interface de notre base de données, vous pouvez ici
            réaliser plusieurs requêtes.
          </p>
        </div>
        <div class="launch-container">
          <h2>Lancement de la base de données</h2>
          <p>
            Appuyez sur le bouton CRÉER pour créer les tables et sur le bouton
            INITIALISER pour charger la base de données.
          </p>
          <div class="btn-container">
            <button id="creer">CRÉER</button
            ><button id="init">INITIALISER</button>
          </div>
          <p id="init-txt">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim quis
            dolore quia vero. Sed, vero.
          </p>
        </div>
        <div class="inscriptions-container" id="inscriptions-container">
          <div class="flex-container">
            <div class="inscription-patient-container">
              <h2>Ajout d'un nouveau patient</h2>
              <form method="POST" name="form_patient" action="/ajouter_patient">
                <div class="inputs-container">
                  <label for="NISS">NISS:</label>
                  <input type="text" name="NISS" id="NISS" required />

                  <label for="date_de_naissance">Date de naissance:</label>
                  <input
                    type="date"
                    name="date_de_naissance"
                    id="date_de_naissance"
                    required
                  />
                  <label for="inami_medecin">INAMI médecin:</label>
                  <input type="text" name="inami_medecin" id="inami_medecin" />

                  <label for="inami_pharmacien">INAMI pharmacien:</label>
                  <input
                    type="text"
                    name="inami_pharmacien"
                    id="inami_pharmacien"
                  />
                  <label for="mail">Mail:</label>
                  <input type="email" name="mail" id="mail" />

                  <label for="nom">Nom:</label>
                  <input type="text" name="nom" id="nom" required />

                  <label for="prenom">Prénom:</label>
                  <input type="text" name="prenom" id="prenom" required />

                  <label for="telephone">Téléphone:</label>
                  <input type="tel" name="telephone" id="telephone" />
                </div>
                <button type="submit" id="envoyerPat" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
            <div class="inscription-pharmacien-container">
              <h2>Ajout d'un nouveau pharmacien</h2>
              <form
                method="POST"
                name="form_pharmacien"
                action="/ajouter_pharmacien"
              >
                <div class="inputs-container">
                  <label for="inami_pharma">INAMI pharmacien:</label>
                  <input type="text" name="inami_pharma" id="inami_pharma" />
                  <label for="mailpharma">Mail:</label>
                  <input type="email" name="mailpharma" id="mailpharma" />

                  <label for="nomPharma">Nom:</label>
                  <input type="text" name="nomPharma" id="nomPharma" required />

                  <label for="telephonePharma">Téléphone:</label>
                  <input
                    type="tel"
                    name="telephonePharma"
                    id="telephonePharma"
                    required
                  />
                </div>
                <button type="submit" id="envoyerPhar" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
            <div class="inscription-medecin-container">
              <h2>Ajout d'un nouveau médecin</h2>
              <form method="POST" name="form_medecin" action="/ajouter_medecin">
                <div class="inputs-container">
                  <label for="inami_med">INAMI médecin:</label>
                  <input type="text" name="inami_med" id="inami_med" />
                  <label for="mailmed">Mail:</label>
                  <input type="email" name="mailmed" id="mailmed" />

                  <label for="nomMed">Nom:</label>
                  <input type="text" name="nomMed" id="nomMed" required />

                  <label for="telephoneMed">Téléphone:</label>
                  <input
                    type="tel"
                    name="telephoneMed"
                    id="telephoneMed"
                    required
                  />
                  <label for="Specialite">Spécialité:</label>
                  <input
                    type="text"
                    name="Specialite"
                    id="Specialite"
                    required
                  />
                </div>
                <button type="submit" id="envoyerMed" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
          </div>
          <div class="ajout-result">
            {% if message %}
            <p id="ajout-txt">{{ message }}</p>
            {% else %}
            <p id="ajout-txt">
              Remplisser le fomulaire pour ajouter un Patient, Pharmacien ou
              Médecin dans la base de données!
            </p>
            {% endif %}
          </div>
        </div>

        <h2>Différentes requêtes:</h2>
        <div class="request-container">
          <div class="request">
            <p>Requête 1</p>
            <button id="r1">GO</button>
          </div>
          <div class="request">
            <p>Requête 2</p>
            <button id="r2">GO</button>
          </div>
          <div class="request">
            <p>Requête 3</p>
            <button id="r3">GO</button>
          </div>
          <div class="request">
            <p>Requête 4</p>
            <button id="r4">GO</button>
          </div>
          <div class="request">
            <p>Requête 5</p>
            <button id="r5">GO</button>
          </div>
          <div class="request">
            <p>Requête 6</p>
            <button id="r6">GO</button>
          </div>
          <div class="request">
            <p>Requête 7</p>
            <button id="r7">GO</button>
          </div>
          <div class="request">
            <p>Requête 8</p>
            <button id="r8">GO</button>
          </div>
          <div class="request">
            <p>Requête 9</p>
            <button id="r9">GO</button>
          </div>
          <div class="request">
            <p>Requête 10</p>
            <button id="r10">GO</button>
          </div>
        </div>
        <div class="output">
          <h2>Résultat de la requête:</h2>
          <div class="output-text">
            <p class="result-text" id="result-text">
              Ici s'affichera le résultat de la requête.
            </p>
          </div>
        </div>
      </div>
      <footer>
        Projet du groupe - Alexandre Achten, Nicolas Guilbaud et Raphaël Humblet
        2022-2023
      </footer>
    </div>
  </body>
</html>
