<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4dfcd43aac.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/variable.css" />
    <title>INFO-H303 | Queries</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#r1").click(function () {
          $.get("/get-string1", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r2").click(function () {
          $.get("/get-string2", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r3").click(function () {
          $.get("/get-string3", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r4").click(function () {
          $.get("/get-string4", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r5").click(function () {
          $.get("/get-string5", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r6").click(function () {
          $.get("/get-string6", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r7").click(function () {
          $.get("/get-string7", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r8").click(function () {
          $.get("/get-string8", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r9").click(function () {
          $.get("/get-string9", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#r10").click(function () {
          $.get("/get-string10", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#btninfomedicalespatient").click(function () {
          $.get("/get-infomedpatient", function (data) {
            $("#infomedicalespatient").html(data);
          });
        });
        $("#creer").click(function () {
          $.get("/creer", function (data) {
            $("#init-txt").html(data);
          });
        });
        $("#init").click(function () {
          $.get("/init", function (data) {
            $("#init-txt").html(data);
          });
        });
        $("#envoyerPat").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Patient dans la base de données!"
          );
        });
        $("#envoyerPhar").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Pharmacien dans la base de données!"
          );
        });
        $("#envoyerMed").click(function () {
          $("#ajout-txt").html(
            "Requête envoyée pour ajouter un Médecin dans la base de données!"
          );
        });
      });
    </script>
    <script>
      function toggleForm() {
        var ajoutForms = document.getElementById("inscriptions-container");
        var btnshowForm = document.getElementById("btnshowForm");
        if (ajoutForms.style.display === "none") {
          ajoutForms.style.display = "flex";
          btnshowForm.innerHTML = "Cacher menu Ajout";
        } else {
          ajoutForms.style.display = "none";
          btnshowForm.innerHTML = "Montrer menu Ajout";
        }
      }

      function toggleConnexion() {
        var connexionForms = document.getElementById("connexion-patient");
        var btnshowForm = document.getElementById("btnshowConn");
        if (connexionForms.style.display === "none") {
          connexionForms.style.display = "flex";
          btnshowForm.innerHTML = "Cacher menu Connexion";
        } else {
          connexionForms.style.display = "none";
          btnshowForm.innerHTML = "Montrer menu Connexion";
        }
      }
    </script>
    <div class="tot-container">
      <header>
        <h1>INFO-H303 - Groupe AF</h1>
        <button id="btnshowForm" onclick="toggleForm()">
          Montrer menu Ajout
        </button>
        <button id="btnshowConn" onclick="toggleConnexion()">
          Montrer menu Connexion
        </button>
      </header>
      <div class="container">
        <div class="intro">
          <p>
            Bienvenue dans l'interface de notre base de données, vous pouvez ici
            réaliser plusieurs requêtes.
          </p>
        </div>
        <div class="launch-container">
          <h2>Lancement de la base de données</h2>
          <p>
            Appuyez sur le bouton CRÉER pour créer les tables et sur le bouton
            INITIALISER pour charger la base de données.
          </p>
          <div class="btn-container">
            <button id="creer">CRÉER</button
            ><button id="init">INITIALISER</button>
          </div>
          <p id="init-txt"></p>
        </div>
        <div class="inscriptions-container" id="inscriptions-container">
          <div class="flex-container">
            <div class="inscription-patient-container">
              <h2>Ajout d'un nouveau patient</h2>
              <form method="POST" name="form_patient" action="/ajouter_patient">
                <div class="inputs-container">
                  <div class="input-container">
                    <label for="NISS">NISS:</label>
                    <input
                      type="text"
                      name="NISS"
                      id="NISS"
                      placeholder="NISS"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="date_de_naissance">Date de naissance:</label>
                    <input
                      type="date"
                      name="date_de_naissance"
                      id="date_de_naissance"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="inami_medecin">INAMI médecin:</label>
                    <input
                      type="text"
                      name="inami_medecin"
                      id="inami_medecin"
                      placeholder="INAMI Médecin"
                    />
                  </div>
                  <div class="input-container">
                    <label for="inami_pharmacien">INAMI pharmacien:</label>
                    <input
                      type="text"
                      name="inami_pharmacien"
                      id="inami_pharmacien"
                      placeholder="INAMI Pharmacien"
                    />
                  </div>
                  <div class="input-container">
                    <label for="mail">Mail:</label>
                    <input
                      type="email"
                      name="mail"
                      id="mail"
                      placeholder="Adresse Mail"
                    />
                  </div>
                  <div class="input-container">
                    <label for="nom">Nom:</label>
                    <input
                      type="text"
                      name="nom"
                      id="nom"
                      placeholder="Nom"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="prenom">Prénom:</label>
                    <input
                      type="text"
                      name="prenom"
                      id="prenom"
                      placeholder="Prénom"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="telephone">Téléphone:</label>
                    <input
                      type="tel"
                      name="telephone"
                      id="telephone"
                      placeholder="Numéro de téléphone"
                    />
                  </div>
                </div>
                <button type="submit" id="envoyerPat" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
            <div class="inscription-pharmacien-container">
              <h2>Ajout d'un nouveau pharmacien</h2>
              <form
                method="POST"
                name="form_pharmacien"
                action="/ajouter_pharmacien"
              >
                <div class="inputs-container">
                  <div class="input-container">
                    <label for="inami_pharma">INAMI pharmacien:</label>
                    <input
                      type="text"
                      name="inami_pharma"
                      id="inami_pharma"
                      placeholder="INAMI"
                    />
                  </div>
                  <div class="input-container">
                    <label for="mailpharma">Mail:</label>
                    <input
                      type="email"
                      name="mailpharma"
                      id="mailpharma"
                      placeholder="Adresse mail"
                    />
                  </div>
                  <div class="input-container">
                    <label for="nomPharma">Nom:</label>
                    <input
                      type="text"
                      name="nomPharma"
                      id="nomPharma"
                      placeholder="Nom"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="telephonePharma">Téléphone:</label>
                    <input
                      type="tel"
                      name="telephonePharma"
                      id="telephonePharma"
                      placeholder="Numéro de téléphone"
                      required
                    />
                  </div>
                </div>
                <button type="submit" id="envoyerPhar" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
            <div class="inscription-medecin-container">
              <h2>Ajout d'un nouveau médecin</h2>
              <form method="POST" name="form_medecin" action="/ajouter_medecin">
                <div class="inputs-container">
                  <div class="input-container">
                    <label for="inami_med">INAMI médecin:</label>
                    <input
                      type="text"
                      name="inami_med"
                      id="inami_med"
                      placeholder="INAMI"
                    />
                  </div>
                  <div class="input-container">
                    <label for="mailmed">Mail:</label>
                    <input
                      type="email"
                      name="mailmed"
                      id="mailmed"
                      placeholder="Adresse mail"
                    />
                  </div>
                  <div class="input-container">
                    <label for="nomMed">Nom:</label>
                    <input
                      type="text"
                      name="nomMed"
                      id="nomMed"
                      placeholder="Nom"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="telephoneMed">Téléphone:</label>
                    <input
                      type="tel"
                      name="telephoneMed"
                      id="telephoneMed"
                      placeholder="Numéro de téléphone"
                      required
                    />
                  </div>
                  <div class="input-container">
                    <label for="Specialite">Spécialité:</label>
                    <input
                      type="text"
                      name="Specialite"
                      id="Specialite"
                      placeholder="Spécialité"
                      required
                    />
                  </div>
                </div>
                <button type="submit" id="envoyerMed" value="Envoyer">
                  Envoyer
                </button>
              </form>
            </div>
          </div>
          <div class="ajout-result">
            {% if message %}
            <pre id="ajout-txt">{{ message }}</pre>
            {% else %}
            <p id="ajout-txt">
              Remplisser le fomulaire pour ajouter un Patient, Pharmacien ou
              Médecin dans la base de données!
            </p>
            {% endif %}
          </div>
        </div>
        <div class="connexion-patient" id="connexion-patient">
          <h2>Connexion d'un patient</h2>
          <form
            method="POST"
            name="form-connexion-patient"
            action="/connexion-patient"
          >
            <input
              type="text"
              name="NISSPatient"
              id="NISSPatient"
              placeholder="Votre NISS"
            />
            <button type="submit" id="connexion" value="Envoyer">
              Se connecter
            </button>
          </form>
          {% if msg2 %}
          <pre id="ajout-txt">{{ msg2 }}</pre>
          {% endif %}
          <div class="modif-container">
            <h2>Modifier vos médecin et pharmacien de référence</h2>
            <form action="/modif-inami" method="POST" name="form-modif-inami">
              <div class="input-container">
                <input
                  type="text"
                  placeholder="Nouvel INAMI pharmacien"
                  id="newinamiphar"
                  name="newinamiphar"
                />
                <input
                  type="text"
                  placeholder="Nouvel INAMI médecin"
                  id="newinamimed"
                  name="newinamimed"
                />
                <button type="submit" id="modif-inami">Modifier</button>
              </div>
            </form>
            {% if msg %}
            <pre id="ajout-txt">{{ msg }}</pre>
            {% endif %}
          </div>
          <div class="patient-menu-container">
            <div class="info-med-container">
              <div class="info-med-debut">
                <h3>Vos informations médicales</h3>
                <button id="btninfomedicalespatient">GET</button>
              </div>
              <div class="output-text">
                <p id="infomedicalespatient">
                  Ici s'affichent les informations médicales
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2>Différentes requêtes:</h2>
        <div class="request-container">
          <div class="request">
            <p>Requête 1</p>
            <button id="r1">GO</button>
          </div>
          <div class="request">
            <p>Requête 2</p>
            <button id="r2">GO</button>
          </div>
          <div class="request">
            <p>Requête 3</p>
            <button id="r3">GO</button>
          </div>
          <div class="request">
            <p>Requête 4</p>
            <button id="r4">GO</button>
          </div>
          <div class="request">
            <p>Requête 5</p>
            <button id="r5">GO</button>
          </div>
          <div class="request">
            <p>Requête 6</p>
            <button id="r6">GO</button>
          </div>
          <div class="request">
            <p>Requête 7</p>
            <button id="r7">GO</button>
          </div>
          <div class="request">
            <p>Requête 8</p>
            <button id="r8">GO</button>
          </div>
          <div class="request">
            <p>Requête 9</p>
            <button id="r9">GO</button>
          </div>
          <div class="request">
            <p>Requête 10</p>
            <button id="r10">GO</button>
          </div>
        </div>
        <div class="output">
          <h2>Résultats de la requête:</h2>
          <div class="output-text">
            <p class="result-text" id="result-text">
              Ici s'affichera le résultat de la requête.
            </p>
          </div>
        </div>
      </div>
      <footer>
        Projet du groupe - Alexandre Achten, Nicolas Guilbaud et Raphaël Humblet
        2022-2023
      </footer>
    </div>
  </body>
</html>
