<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4dfcd43aac.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/variable.css" />
    <title>INFO-H303 | Queries</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="../request.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#r1").click(function () {
          $.get("/get-string1", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r2").click(function () {
          $.get("/get-string2", function (data) {
            $("#result-text").html(data);
          });
        });

        $("#r3").click(function () {
          $.get("/get-string3", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#creer").click(function () {
          $.get("/creer", function (data) {
            $("#result-text").html(data);
          });
        });
        $("#init").click(function () {
          $.get("/init", function (data) {
            $("#result-text").html(data);
          });
        });
      });
    </script>
    <div class="tot-container">
      <header>
        <h1>INFO-H303 - Groupe 12</h1>
      </header>
      <div class="container">
        <div class="intro">
          <p>
            Bienvenue dans l'interface de notre base de données, vous pouvez ici
            réaliser plusieurs requêtes.
          </p>
        </div>
        <div class="launch-container">
          <h2>Lancement de la base de données</h2>
          <p>
            Appuyez sur le bouton CRÉER pour créer les tables et sur le bouton
            INITIALISER pour charger la base de données.
          </p>
          <div class="btn-container">
            <button id="creer">CRÉER</button
            ><button id="init">INITIALISER</button>
          </div>
        </div>
        <h2>Différentes requêtes:</h2>
        <div class="request-container">
          <div class="request">
            <p>Requête 1</p>
            <button id="r1">GO</button>
          </div>
          <div class="request">
            <p>Requête 2</p>
            <button id="r2">GO</button>
          </div>
          <div class="request">
            <p>Requête 3</p>
            <button id="r3">GO</button>
          </div>
          <div class="request">
            <p>Requête 4</p>
            <button id="r4">GO</button>
          </div>
          <div class="request">
            <p>Requête 5</p>
            <button id="r5">GO</button>
          </div>
          <div class="request">
            <p>Requête 6</p>
            <button id="r6">GO</button>
          </div>
          <div class="request">
            <p>Requête 7</p>
            <button id="r7">GO</button>
          </div>
          <div class="request">
            <p>Requête 8</p>
            <button id="r8">GO</button>
          </div>
          <div class="request">
            <p>Requête 9</p>
            <button id="r9">GO</button>
          </div>
          <div class="request">
            <p>Requête 10</p>
            <button id="r10">GO</button>
          </div>
        </div>
        <div class="output">
          <h2>Résultat de la requête:</h2>
          <div class="output-text">
            <p class="result-text" id="result-text">
              Ici s'affichera le résultat de la requête.
            </p>
          </div>
        </div>
      </div>
      <footer>
        Projet du groupe - Alexandre Achten, Nicolas Guilbaud et Raphaël Humblet
        2022-2023
      </footer>
    </div>
  </body>
</html>
